<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Formulário de cadastro</title>
    <link rel="stylesheet" href="cadastro.css">
</head>

<body>
    <form action="clientes" method="post" >
        <input type="text" id="nome" name="nome" style="display: block" placeholder="Nome">
        <input type="email" id="email" name="email"style="display: block" placeholder="E-mail">
        <input type="number" id="agencia" name="agencia"style="display: block" placeholder="Agência">
        <input type="text" id="conta" name="conta"style="display: block" placeholder="Conta">
        <button>Enviar</button>
    </form>
</body>
</html>